.header{
    font-size: 40px;
}
.authPage{
    display: flex;
    align-items: center;
    width: 100vw;
    height: 90vh;
    flex-direction: column;
}
input{
    margin-bottom: 10px;
    padding: 10px 10px;
    border-radius: 10px;
    width: 300px;
    height: 15px;
    font-size: 13px;
    display: flex;
}
.form{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.select {
    cursor: pointer;
    padding: 10px 10px;
    border-radius: 10px;
    width: 300px;
    height: 15px;
    font-size: 13px;
    display: flex;
}
.submitButton{
    cursor: pointer;
    margin-top: 20px;
    color: white;
    background-color: black;
    width: 300px;
    height: 50px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
}

.changeMode{
    cursor: pointer;
    margin-top: 20px;
    color: white;
    background-color: black;
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    display: flex;
    position: absolute;
    bottom: 50px;
}
button{
    display: flex;
    align-items: center;
    justify-content: center;
}
.dropDown{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}