html {
    height:100%;
}
  
body {
    margin:0;
    margin-bottom: 300%;
    overflow-y: scroll;
}
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
    
::-webkit-scrollbar-track {
    border: 1px solid #4D5656;
    border-radius: 8px;
   }
    
::-webkit-scrollbar-thumb {
    background: #4D5656;  
    border-radius: 8px;
}
    
::-webkit-scrollbar-thumb:hover {
    background: #3D4646;  
}

.bg {
    animation:slide 5s ease-in-out infinite alternate;
    background-image: linear-gradient(40deg, #3498DB 50%, #2ECC71 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
}

.bg2 {
    animation-direction:alternate-reverse;
    animation-duration:6s;
}

.bg3 {
    animation-duration:7s;
}

.image{
    margin-top: 10px;
    width: 50vw;
}

.content {
    background-color:rgba(78,86,86,.8);
    border-radius:.25em;
    box-shadow:0 0 .25em rgba(0,0,0,.25);
    box-sizing:border-box;
    left:50%;
    padding: 5vmin;
    top:50%;
    transform:translate(-50%, -50%);
    color: whitesmoke;
    margin-top:  40vh;
    margin-bottom: 40vh;
    margin-left: 50vw;
}

.contentImage{
    background-color:rgba(78,86,86,.8);
    border-radius:.25em;
    box-shadow:0 0 .25em rgba(0,0,0,.25);
    padding: 5vmin;
    text-align:center;
    top:60%;
    transform:translate(-30%, 0%);
    color: whitesmoke;
    margin-top:  30vh;
    margin-bottom: 30vh;
    margin-left: 37.5vw;
}

h2 {
    font: arial;
    font-size: 300%;
    margin-bottom:-5px;
    margin-top:-15px;
}

.footing{
    background-color:rgba(78,86,86);
    color: whitesmoke;
    padding: 15vw;
    padding-top: 2vh;
    padding-bottom: 15vh;
    transform:translate(0%, 0%);
    margin-top: -20vh;
}

@keyframes slide {
    0% {
        transform:translateX(-25%);
    }
    100% {
        transform:translateX(25%);
    }
}

*{
    margin: 0px;
    padding: 0px;
}

.row{
    margin-left: 0px;
    margin-right: 0px;
}

.global{
}

.global ul{
    list-style-type: none;
    line-height: 30px;
    font-size: 15px;
    margin-bottom: 0;
}

.global ul a{
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

.global ul a:hover{
    opacity: 0.8;
    color: #eee;
}

.columns{
    display: flex;
    flex-direction: row;
}

#spacing > p:first-child { float: left; text-align: left; width: 33.3%; } 
#spacing > p:nth-child(2) { float: left; text-align: center; width: 33.4%; } 
#spacing > p:last-child { float: right; text-align: right; width: 33.3%; }