:root {
    --primary: transparent;
}

.btn {
    outline: none;
    border:none;
    cursor:pointer;
}

.btn:hover {
    transition: all 0.3s ease-out;
    background: #fabb1d;
}

.btn--primary {
    background-color: var(--primary);
}

.btn--outline {
    border: 1px solid var(--primary);
    transition: all 0.3s ease-out;
}

.btn--medium {
    margin: none;
    justify-self: end;
    height: 10vh;
    width: 8vw;
    border-radius: 1px;
    font-size: 16px;
    color: black;
    /* text-shadow: 1.5px 1.5px 1.5px; */
    font-weight: 750;
}


