.navbar {
    background: linear-gradient(90deg, #8915e8 0%, rgb(110, 94, 254) 70%);
    height: 10vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    // justify-content: center;
    align-items: center;
}

.navbar-logo {
    color: #ecf0f1;
    font-size: 300%;
    justify-self: start;
    margin-left: 30px;
    float: left;
    // cursor: pointer; 
}

.nav-menu {
    display: flex;

    text-align: right;
    width: 70vw;
    justify-content: end;
    // justify-items: end;
    font-size: 1.2rem;
}

.nav-links {
    color: black;
    text-decoration: none;
    // text-shadow: 1.5px 1.5px;
    font-weight: 700;
}

.nav-logo {
    display: flex;
    justify-self: start;
    // align-items: left;
    margin-left: 50px;
    height: 50px;
}
